# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# DIRs

Debug
x64

# vcx projs

*.vcxproj
*.vcxproj.user
*.vcxproj.filters

# images

*.svg

# pycharm
recognizer/.idea/*
recognizer/__pycache__/*
